<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @notifications[:email] %></h1>
<p>
  Car you have requested <h4><%= @notifications.lic %></h4> is avialable now.
  Please login to website to checkout or reserve it.
</p>
<p>Thanks for hearing and have a great day!</p>
</body>
</html>