<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @histories[:email] %></h1>
<p>
  We would like to bring it your notice that car you have Checked Out <h4><%= @histories.lic %></h4> has been made avialable now.
</p>
<p>Thanks for hearing and have a great day!</p>
</body>
</html>