<head>
<div class="loginheader" align="center">
<button class="btn btn-success"><%= link_to 'Login member', login_path, :style =>'color:#FFFFFF;'%></button>
<button class="btn btn-success"><%= link_to 'Sign up now', new_member_path, :style =>'color:#FFFFFF;'%></button>
<button class="btn btn-success"><%= link_to 'Login admin', login_admin_path, :style =>'color:#FFFFFF;'%></button>
<button class="btn btn-success"><%= link_to 'Login super admin', login_admin_path, :style =>'color:#FFFFFF;'%></button>
</div>
</head>
<body>
<div class="container">
<img src="http://wallpaper.pickywallpapers.com/1920x1080/subaru-outback-family-ride.jpg" style="height:500px; width: 1150px; margin: 2px;">
</div>
</body>