<h1>Checking Out Car</h1>

<div class="btn btn-success">
  <%= link_to 'Show Car', @cars, :style =>'color:#FFFFFF;' %></div>
<br>
<%= render 'form_checkout' %>

<div class="btn btn-success topcorner2">
  <%= link_to 'Back', cars_path, :style =>'color:#FFFFFF;' %></div>

<div class="btn btn-success topcorner">
  <%= link_to 'Home', cars_url, :style =>'color:#FFFFFF;'%></div>