<h1>Editing Car</h1>

<%= render 'form' %>
<div class="btn btn-success topcorner2">
  <%= link_to 'Back', cars_path, :style =>'color:#FFFFFF;' %></div>

<div class="btn btn-success topcorner">
  <%= link_to 'Home', cars_url, :style =>'color:#FFFFFF;'%></div>